@font-face {
    font-family: 'PokemonSolid';
    src: url('../css/Fonts/Pokemon\ Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    overflow-wrap: break-word;
    text-wrap: balance;
}

h1, h2, h3{
    font-family: 'Tomorrow';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 300px;
}

/* CAIXES DE CONTINGUT */
/* SECCIO HIGHLIGHTS */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 15rem;
}

/* TITOL */
.pokebuilder {
    max-width: 100vw;
    width: 100vw;
    height: auto;
    background: url(../../IMG/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokebuilder h1 {
    font-family: 'PokemonSolid', sans-serif;
    letter-spacing: .75rem;
    font-size: 7rem;
    color: #ffca02;
    -webkit-text-stroke: 1.5px rgba(0,0,255, 0.8);
}

    /* HIGHLIGHTS */
.builder_div{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* efecte arrodonit */
.curva-separador {
    width: 100%;
    height: 169px;
    overflow: hidden;
    line-height: 0;
    margin-top: -1px;
    background: none;
    position: relative;
}

.curva-separador svg {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}


.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    /* background-color: yellow; */
}

.titolcaixa h2{
    font-size: 1.8rem;
}


/* ------------------------------------------------------ */
.usrPost{
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    justify-content: start;
}

.post_info{
    display: flex; 
    flex-direction: row; 
    gap: 5px; 
    justify-content: space-between; 
    align-items: center; 
    height: 70px;
}

.usuaripost{

    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center; 
    gap: 5px;
}

.usuaripost a{
    background-color: #ffffffd9; 
    height: 60px; 
    width: 60px; 
    border-radius: 500px; 
    box-shadow: 2px 4px 4px #00000040; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.usuaripost img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.usuaripost p{
    font-size: 1.3rem
}

.likespost{

    display: flex; 
    font-display: row; 
    justify-content: end; 
    align-items: center; 
    gap: 5px;
}

.likepost i{
    font-size: 2rem; 
}


.fila1, .fila2{
    display: flex; 
    flex-direction: row; 
    gap: 5px;
}

.fila1 a, .fila2 a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #ffffffd9; 
    overflow: hidden; 
    height: 85px;
    width: 85px; 
    border-radius: 15px; 
    box-shadow: 2px 4px 4px #00000040; 
}

.fila1 img, .fila2 img{
    height: 100%;
}

.pokemons{
    padding: 25px;
    color: white; 
    border-radius: 30px;  
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    align-items: center; 
    background-color: #444444e9; 
    box-shadow: 0px 0px 3px #444444d9; 
    border: 3px solid #ffffff;
    max-width: 300px;
}

.pokemons p{
    align-self: flex-start; 
    font-weight: bold; 
    font-size: 1.15rem;
}

.highlightPosts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* --------------------------------------- */


.highlight4{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: start;
    align-items: center;
}

.equip_vertical{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, max-content);
    column-gap: 0.5rem;
    row-gap: 2rem;
}

.titol_caixa_vertical {
    text-align: center;
}

.equip_vertical a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #ffffffd9; 
    overflow: hidden; 
    height: 127.5px;
    width: 127.5px; 
    border-radius: 15px; 
    box-shadow: 2px 4px 4px #00000040; 
    border: 1px solid black;
}

.equip_vertical img{
        height: 100%;
       
}

/* From Uiverse.io by cssbuttons-io */ 
.highlight4 button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

.highlight4 button.learn-more {
 width: 15rem;
 height: auto;
}

.highlight4 button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

.highlight4 button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

.highlight4 button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

.highlight4 button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

.highlight4 button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

.highlight4 button:hover .circle {
 width: 100%;
}

.highlight4 button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

.highlight4 button:hover .button-text {
 color: #fff;
}
/* ---------------------------------------------------- */
/* SECCIO POKEDEX */
.carrousel_pkdx{    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.titol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    /* background-color: rgba(var(--fuego-rgb), 0.85);
    border-radius: 30px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, 
        background-color 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out; */
}

/* .titol:hover{
    background-color: var(--fuego);
    box-shadow: 2px 19px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
    transition: background-color 0.3s ease-in-out, 
        transform 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
} */

.titol h2{
    font-size: 1.8rem;
}

.titol p{
    font-size: 1.3rem;
}

.layout_carrusel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 5rem;
}

.imglateral a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #ffffffd9; 
    overflow: hidden; 
    height: 170px;
    width: 170px; 
    border-radius: 15px; 
    box-shadow: 0px 0px 4px 9px #00000040;
    outline: 5px solid rgba(var(--fuego-rgb), 0.85);
}

.imgcentre a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #ffffffd9; 
    overflow: hidden; 
    height: 212.5px;
    width: 212.5px; 
    border-radius: 15px; 
    box-shadow: 0px 0px 4px 9px #00000040;
    outline: 5px solid rgba(var(--fuego-rgb), 0.85);
}

.imglateral img, .imgcentre img{
    height: 100%;
}

.fblanc{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5rem; 
    background-color: white; 
    border-radius: 10px; 
    padding: 5rem; 
    box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.cuntanidorimgs{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    gap: 5rem;
}

/* ---------------------------------- */
/* SECCIO PREMIUM */
.contingut_premium{
    width: 700px; 
    background-color: rgba(var(--hielo-rgb), 0.85); 
    padding: 2rem; 
    border-radius: 30px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 
        transform 0.3s ease-in-out, 
        background-color 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.contingut_premium:hover{
    background-color: var(--hielo);
    box-shadow: 2px 19px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
    transition: background-color 0.3s ease-in-out, 
        transform 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.contingut_premium h2{
    font-size: 1.8rem;
}

.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.titol_foto a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #ffffffd9; 
    overflow: hidden; 
    height: 255px;
    width: 255px; 
    border-radius: 15px; 
    box-shadow: 2px 4px 4px #00000040; 
    border: 1px solid black;
}

.titol_foto img{
    height: 100%;
}


.text_premium p{
    font-size: 1.3rem;
}

/* ------------------------------------------ */
/* SECCIO POSTS */
.posts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.posts_cont{
    width: 450px;
    background-color: rgba(var(--electrico-rgb), 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, 
    background-color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out;
}

.nosequeposarlideclase{
    background-color: rgba(var(--electrico-rgb), 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
}

.posts_cont:hover{
    background-color: var(--electrico);
    box-shadow: 2px 19px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
    transition: background-color 0.3s ease-in-out, 
        transform 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.posts_cont h2{
    font-size: 1.8rem;
}

.posts_cont p{
    font-size: 1.3rem;
}

.btn-conteiner{
    margin-top: 24px;
}

.btn-conteiner_premium{
    margin-top: 50px;
}

/* ------------------------------------ */
/* SECCIO UNEIXTE */
.uneixte{
    width: 500px;
}

.uneixte_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(var(--veneno-rgb), 0.85);
    padding:2rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out, 
    background-color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out;
}

.uneixte_cont:hover{
    background-color: var(--veneno);
    box-shadow: 2px 19px 6px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
    transition: background-color 0.3s ease-in-out, 
        transform 0.3s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}

.uneixte_cont h2{
    font-size: 1.8rem;
}


/* CONTINGUT POKEDEX */
/* botons laterals */
/* From Uiverse.io by kheshore */ 
.btn-conteiner {
  display: flex;
  justify-content: center;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 0px 3px;
  text-decoration: none;
  font-size: 25px;
  color: var(--fuego);
  background: var(--dark);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--dark);
  min-width: 60px;
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.3s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--dark);
}

.btn-content .icon-arrow {
  transition: 0.3s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.3s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  margin-right: 25px;
  position: relative;
  top: 6%;
}

.icon-arrow path{
    fill: var(--fuego);
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.3s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}


/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--dark);
  }

  100% {
    fill: var(--fuego);
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--dark);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--dark);
    outline-offset: 0;
  }
}
/* boto pokedex */
.pokedex-btn {
  padding: 0.5em 1em;
}

.premium-btn {
  padding: 0.5em 1em;
  color: var(--hielo);
}

.post-btn {
  padding: 0.5em 1em;
  color: var(--electrico);
}

.regis-btn {
  padding: 0.5em 1em;
  color: var(--veneno);
}


/* RECUS */

.a1_sec_rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0px;
    max-width: 100%;
}

.highlight_recu{
    display: flex;
    flex-direction: column;
    max-width: 1200px; 
    width:100vw; 
    padding: 2rem;
    gap: 2rem;
    text-align: center;
}



.highlightPosts_recu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.pokedex_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 3rem;
    max-width: 100%;
    background-color: rgba(var(--fuego-rgb), 0.85);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);
}


/* carrousel */
.divPkmn{
    height: 170px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

#centerImg .divPkmn{
    height: 212.5px;
    width: 212.5px;
}

.divPkmn:hover {
    background-color: #ededed; /* fons més fosc */
    /* transform: translateY(-10px); */
}

.divPkmn p{
    margin: 0px;
    color: black;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
}

.divPkmn:hover p {
  opacity: 1;
}

.builder-btn {
  padding: 0.5em 1em;
  color: var(--agua);
}

.premium_uneixte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 100vw;
    padding: 3rem;
    max-width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: rgba(125,125,125, 0.85);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25), 2px 4px 4px rgba(0, 0, 0, 0.25);
}
